body{
	display: grid;
	grid-template: repeat(5,1fr)/repeat(3,1fr);
}
.title{
	grid-column: 2/3;
	grid-row: 2/3;
}
.dials{
	grid-column: 2/3;
	grid-row: 3/4;
	display: grid;
	grid-template: repeat(2,1fr)/repeat(2,1fr);
}
.Clock{
	grid-column: 2/3;
	grid-row: 4/5;
	display: grid;
	grid-template:repeat(3,1fr)/repeat(3,1fr);
}

#Break{
	grid-column: 1/2;
	grid-row: 1/2
}
#Session{
	grid-column: 2/3;
	grid-row: 1/2;
}
#bDial{
	grid-column: 1/2;
	grid-row: 2/3;
	display: grid;
	grid-template-columns: repeat(3,1fr);
}
#sDial{
	grid-column: 2/3;
	grid-row:2/3;
	display: grid;
	grid-template-columns: repeat(3,1fr);
}
.Minus{
	grid-column: 1/2;
}
.Number{
	grid-column: 2/3;
}
.Plus{
	grid-column: 3/4;
}
#Face{
	grid-column: 2/3;
	grid-row: 2/3;
	display: grid;
	grid-template-rows: 1fr 1fr;
}
#start{
	grid-row: 1/2;
}
#timer{
	grid-row: 2/3;
}
