body{
	display: grid;
	grid-template: 10px 0.2fr 0.4fr 5fr 20px/ 1fr 3fr 1fr;
}
.title{
	grid-column: 2/3;
	grid-row: 2/3;
}
.dials{
	grid-column: 2/3;
	grid-row: 3/4;
	display: grid;
	grid-template: repeat(2,1fr)/repeat(2,1fr);
}
.Clock{
	grid-column: 2/3;
	grid-row: 4/5;
	display: grid;
	grid-template: 0.1fr 300px 0.2fr/0.2fr 300px 0.2fr;
	margin-left: 21%;

}

#Break{
	grid-column: 1/2;
	grid-row: 1/2
}
#Session{
	grid-column: 2/3;
	grid-row: 1/2;
}
#bDial{
	grid-column: 1/2;
	grid-row: 2/3;
	display: grid;
	grid-template-columns: 1fr 0.5fr 1fr;
}
#sDial{
	grid-column: 2/3;
	grid-row:2/3;
	display: grid;
	grid-template-columns: 1fr 0.5fr 1fr;
}
.Minus{
	grid-column: 1/2;
}
.Number{
	grid-column: 2/3;
}
.Plus{
	grid-column: 3/4;
}
#start{
	grid-row: 1/2;
}
#timer{
	grid-row: 2/3;
}
#face{
	grid-row: 2/3;
	grid-column: 2/3;
	display: grid;
	grid-template-rows: 1fr 1fr;
}
#reset{
	grid-row: 3/4;
	grid-column: 2/3;
	justify-content: center;
	align-content: center;
}
