body{
	background-color: white;
}
.title h1{
	color: black;
	font-size: 2.5em;
	font-family: 'Great Vibes', cursive;
	text-align: center;
}
.dials h2{
	color: black;
	font-size: 0.99em;
	font-family: 'Cardo', sans-serif;
	text-align: center;

}
.button {
	width: 45px;
	height: 45px;
	display: inline-block;
	position: relative;
	background-color: #eaeaea;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eaeaea));
	background-image: -webkit-linear-gradient(top, #f6f6f6, #eaeaea);
	background-image: -moz-linear-gradient(top, #f6f6f6, #eaeaea); 
	background-image: -ms-linear-gradient(top, #f6f6f6, #eaeaea); 
	background-image: -o-linear-gradient(top, #f6f6f6, #eaeaea);
	background-image: linear-gradient(top, #f6f6f6, #eaeaea);
	-moz-border-radius:32px;
	-webkit-border-radius:32px;
	border-radius: 32px;
	box-shadow: 0 1px 1px rgba(0,0,0,.25), 0 2px 3px rgba(0,0,0,.1);
	-moz-box-shadow:0 1px 1px rgba(0,0,0,.25), 0 2px 3px rgba(0,0,0,.1);
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,.25), 0 2px 3px rgba(0,0,0,.1);
}
.button:active{
	top: 1px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#f6f6f6));
	background-image: -webkit-linear-gradient(top, #eaeaea, #f6f6f6);
	background-image: -moz-linear-gradient(top, #eaeaea, #f6f6f6); 
	background-image: -ms-linear-gradient(top, #eaeaea, #f6f6f6); 
	background-image: -o-linear-gradient(top, #eaeaea, #f6f6f6);
	background-image: linear-gradient(top, #eaeaea, #f6f6f6);
}
.button::before{
	content: '';
	position: absolute;
	z-index: -1;
	top: -5px;
	right: -5px;
	bottom: -5px;
	left: -5px;
	background-color: #eaeaea;
	-moz-border-radius:140px;
	-webkit-border-radius:140px;
	border-radius: 140px;
	opacity: 0.5;
}
.button:active::before{
	top: -9;
}
.button:hover::before{
	opacity: 1;
}
#minusB:hover::before{
	background-color: #fadae6;
}
#plusB:hover::before{
	background-color: #c6f0f8;
}
#minusS:hover::before{
	background-color: #fadae6;
}
#plusS:hover::before{
	background-color: #c6f0f8;
}
.Minus{}
